<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:Android="http://schemas.android.com/apk/res-auto"
    package="cn.edu.bistu.cs.se.words">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WordsApplication"
        android:allowBackup="true"
        android:label="单词本"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="单词本"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WordDetailActivity"
            android:label="单词详意" />
        <activity
            android:name=".MainActivity3"
            android:label="在线查词" />
        <activity
            android:name=".Main2Activity"
            android:label="每日一句" />

        <provider
            android:name=".WordsProvider"
            android:authorities="cn.edu.bistu.cs.se.words"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>